<div class="jumbotron text-center"><h1>Happy Tees</h1></div>
<h3>The most exclusive Tee shop in the world.</h3>
<div>
<p class="p-3 text-primary"><%=link_to "Log In", login_path %></p>
</div>
<div>
<p class="p-3 text-primary"><%= link_to "Create Account", signup_path %></p>
<br>

</div>

